doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Error
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body(style='background-color:black;font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;')
    center
      h3(style='color:blue;font-size:50px;')
        b Some Error Occured!
      .main(style='background-color:white;color:orange;border-radius:8px;min-height:150px;margin-top:-150px;width:400px;left:50%;top:50%;position:absolute;transform:translateX(-50%);')
        h3(style='color:red;') Message:
        p #{message}
        h3(style='color:red;') Error:
        p #{error}
        hr(style='border-color:black;width:90%')
        h3(style='color:purple;') Go Back To Home Page...
        a.btn.btn-success.btn-lg(href='http://localhost:3000/amogue', style='margin-top:15px;margin-bottom:10px;')
           span.glyphicon.glyphicon-home
           |  Home
