doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Cart
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body {
      margin: 0;
      }
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 25%;
      background-color:#592b71;
      position: fixed;
      height: 100%;
      overflow: auto;
      }
      li a {
      display: block;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
      font-weight: bolder;
      }
      li a.active {
      background-color: #4CAF50;
      color: blue;
      }
      li a:hover:not(.active) {
      background-color: #555;
      color:orange;
      }
  body(style='padding-bottom:500px;')
    ul
      li
        a.active(href='#')Amogue
      li
        a(href='#')Dashboard
      li
        a(href='http://localhost:3000/amogue/upload') Upload
        ul 
          li
            a(href='http://localhost:3000/amogue/upload/look') Look
          li
            a(href='http://localhost:3000/amogue/upload/lookdetails') Look Details
          li
            a(href='http://localhost:3000/amogue/upload/products') Products
    div(style='margin-left:25%;padding:1px 1px;')
      h1(style='color: #ff4165;text-align:center;')
        b List
    h3(style='padding-left:380px;color:blue;') List:
    List has been added.


