doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Amogue Dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body {
      margin: 0;
      }
      
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 25%;
      background-color:#592b71;
      position: fixed;
      height: 100%;
      overflow: auto;
      }
      li a {
      display: block;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
      font-weight: bolder;
      cursor:pointer;
      }
      li a.active {
      background-color: #4CAF50;
      color: pink;
      }
      li a:hover:not(.active) {
      background-color: #555;
      color:orange;
      }
  body(style='padding-bottom:500px;')
    ul
      li
        a(href='http://localhost:3000/amogue') Amogue
      li
        a(href='http://localhost:3000/amogue/dashboard') Dashboard
      li
        a(href='#') Upload
        #dropdown-content
          a(href='http://localhost:3000/amogue/look/create') Look
          a(href='http://localhost:3000/amogue') Look Details 
          a(href='http://localhost:3000/amogue') Products
    div(style='margin-left:25%;padding:1px 1px;')
      h1(style='color: #ff4165;text-align:center;')
        b Amogue
    h3(style='padding-left:380px;color:blue;')
      | List:
      form
        .row
          .col-lg-6(style='color:green;font-weight:bolder;')
            p
              | LookTypeList   : 
              form
                input(type='checkbox', name='LookTypeList', value='Wedding wear')
                | Wedding wear
                br
                input(type='checkbox', name='LookTypeList', value='Festive wear')
                | Festive wear
                br
                input(type='checkbox', name='LookTypeList', value='Casual Classic')
                | Casual Classic
                br
                input(type='checkbox', name='LookTypeList', value='Casual Trendy')
                | Casual Trendy
                br
                input(type='checkbox', name='LookTypeList', value='Casual Athletic')
                | Casual Athletic
                br
                input(type='checkbox', name='LookTypeList', value='Work Formal')
                | Work Formal
                br
                input(type='checkbox', name='LookTypeList', value='Work Professional')
                | Work Professional
                br
                input(type='checkbox', name='LookTypeList', value='Work Casual')
                | Work Casual
                br
                input(type='checkbox', name='LookTypeList', value='Gymwear')
                | Gymwear
                br
                input(type='checkbox', name='LookTypeList', value='Partywear')
                | Partywear
                br
          .col-lg-6(style='color:green;font-weight:bolder;')
            p
              | HeightsList    :
              form
                input(type='checkbox', name='HeightsList', value="Below 5'")
                | Below 5'
                br
                input(type='checkbox', name='HeightsList', value="5'1 - 5'4")
                | 5'1 - 5'4
                br
                input(type='checkbox', name='HeightsList', value="5'5 - 5'8")
                | 5'5 - 5'8
                br
                input(type='checkbox', name='HeightsList', value="5'9 - 6'")
                | 5'9 - 6'
                br
                input(type='checkbox', name='HeightsList', value="Above 6'")
                | Above 6'
                br
        br
        br
        br
        .row
          .col-lg-6(style='color:green;font-weight:bolder;')
            p
              | ColorsList     :
              form
                input(type='checkbox', name='ColorsList', value='Fair')
                | Fair
                br
                input(type='checkbox', name='ColorsList', value='Light')
                | Light
                br
                input(type='checkbox', name='ColorsList', value='Medium')
                | Medium
                br
                input(type='checkbox', name='ColorsList', value='Tan')
                | Tan
                br
                input(type='checkbox', name='ColorsList', value='Deep')
                | Deep
                br
          .col-lg-6(style='color:green;font-weight:bolder;')
            p
              | MenShapesList  :
              form
                input(type='checkbox', name='MenShapesList', value='Triangle')
                | Triangle
                br
                input(type='checkbox', name='MenShapesList', value='Inverted Triangle')
                | Inverted Triangle
                br
                input(type='checkbox', name='MenShapesList', value='Rectangle')
                | Rectangle
                br
                input(type='checkbox', name='MenShapesList', value='Trapezoid')
                | Trapezoid
                br
                input(type='checkbox', name='MenShapesList', value='Oval')
                | Oval
                br
        a.btn.btn-info(href='http://localhost:3000/amogue/dashboard',role='button' style='margin-bottom:15px;') Add List!
    br