doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Welcome To Amogue
  body(style='background-color:black;font-family:Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;')
    center
      h1(style='color: #fc0e49;font-size:60px;')
        b Welcome To Amogue
      hr(style='border-color:white;')
      img(src='https://s-media-cache-ak0.pinimg.com/originals/a2/9e/f3/a29ef3c31e530c749c9dcf5451cf8f5b.jpg', alt='', width='500', height='300')
      .main(style='background-color:white;color:red;border-radius:8px;min-height:10px;margin-top:170px;width:900px;left:50%;top:50%;position:absolute;transform:translateX(-50%);')
        h1
          a(href='http://localhost:3000/amogue/dashboard')
            u Admin Panel
